
@{
    ViewBag.Title = "ComplaintRequestSuccess";
}

<h3>Complaint Request Successfully Created</h3>

<body>
    Your vacation request has been successfully created, you can check the status of your request

    @Html.ActionLink("here", "GetComplaintsByEmployee")


</body>