
@{
    ViewBag.Title = "SickLeaveRequestSuccess";
}

<h3>Sick Leave Request Successfully Created</h3>

<body>
    Your vacation request has been successfully created, you can check the status of your request

    @Html.ActionLink("here", "GetSickLeavesByEmployee")


</body>