
@{
    ViewBag.Title = "VacationRequestSuccess";
}

<h3>Vacation Request Successfully Created</h3>
<body>
    <center>Your vacation request has been successfully created, you can check the status of your request
  
        @Html.ActionLink("here", "GetVacationByEmployee")</center>


</body>

