@{
    ViewBag.Title = "Home Page";
}
@*<style>
    body {
        //background-image: url('../../Content/Pictures/SecuritySystem2.jpg');
        background-image: url('../../Content/Pictures/picture1.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>
*@
@*
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
*@
