@model ManagementSystem.Data.EmployeeStatu

@{
    ViewBag.Title = "Resignation";
}

<h2>Thank you for your request @ViewBag.FirstName @ViewBag.LastName</h2>
<h3>Your final day will be @ViewBag.LastDay</h3>


