@model ManagementSystem.Data.Employee
@{
    ViewBag.Title = "Welcomepage";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <h1>Your Statistics </h1>
  <div id="hello">
    <div id="chartContainer1" style="height: 360px; width: 48%; color:aliceblue;"></div>
      <div style="height: 360px; width: 4%;"></div>
    <div id="chartContainer3" style="height: 360px; width: 48%;"></div>
      <div style="height: 40px; width: 100%;"></div>
      <div id="chartContainer2" style="height: 360px; width: 100%;"></div>
    </div>
    <style>
    #hello div {
    float: left;
    clear: none;
    }


    </style>


    <script type="text/javascript">
       window.onload = function () {
            //-------- Chart 1 ---------------
            var chart1 = new CanvasJS.Chart("chartContainer1", {
                title: {
                    text: "Current rating"
                },
                animationEnabled: true,
                legend: {
                    verticalAlign: "center",
                    horizontalAlign: "left",
                    fontSize: 20,
                    fontFamily: "Helvetica"
                },
                theme: "theme2",
                data: [
                    {
                        type: "pie",
                        indexLabelFontFamily: "Garamond",
                        indexLabelFontSize: 20,
                        indexLabel: "{label} {y}%",
                        startAngle: -20,
                        showInLegend: true,
                        toolTipContent: "{legendText} {y}%",
                        dataPoints: [
                            { y: @ViewBag.employeeRating, legendText: "Rating", label: "Rating" },
                            { y: (100-@ViewBag.employeeRating), legendText: "Left in 100%" },

                        ]
                    }
                ]
            });
            chart1.render();

            //-------- Chart 2 ---------------
            var chart2 = new CanvasJS.Chart("chartContainer2", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                    text: "Column Chart in ASP.Net MVC using CanvasJS"
                },
                data: [
                    {
                        type: "column",
                        dataPoints: [
                            { y: 6, label: "Apple" },
                            { y: 4, label: "Mango" },
                            { y: 5, label: "Orange" },
                            { y: 7, label: "Banana" },
                            { y: 4, label: "Pineapple" },
                            { y: 6, label: "Pears" },
                            { y: 7, label: "Grapes" },
                            { y: 5, label: "Lychee" },
                            { y: 4, label: "Jackfruit" }
                        ]
                    }
                ]
            });

            chart2.render();

           //----chart 3-------

            var chart3 = new CanvasJS.Chart("chartContainer3", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                    text: "Monthly Downloads",
                    fontSize: 25
                },
                axisX: {
                    valueFormatString: "MMM",
                    interval: 1,
                    intervalType: "month"

                },
                axisY: {
                    title: "Downloads"
                },

                data: [
                    {
                        type: "area",
                        dataPoints: [
                            { x: new Date(2012, 00, 1), y: 2600 },
                            { x: new Date(2012, 01, 1), y: 3800 },
                            { x: new Date(2012, 02, 1), y: 4300 },
                            { x: new Date(2012, 03, 1), y: 2900 },
                            { x: new Date(2012, 04, 1), y: 4100 },
                            { x: new Date(2012, 05, 1), y: 4500 },
                            { x: new Date(2012, 06, 1), y: 8600 },
                            { x: new Date(2012, 07, 1), y: 6400 },
                            { x: new Date(2012, 08, 1), y: 5300 },
                            { x: new Date(2012, 09, 1), y: 6000 }
                        ]
                    }
                ]
            });

            chart3.render();

        };
    </script>
</body>
</html>	