@model ManagementSystem.Data.Employee
@{
    ViewBag.Title = "Welcomepage";
}
@*
    @if (Model != null)
    {
        <h2>Welcome, @Model.Username !</h2>
        <h4>You have been successfully signed into your account. </h4>
    }
*@
<style>
    body {
        background-image: url('../../smartlogin/images/bg3.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>
@if (Model != null)
{
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron">
        <h1>Welcome, @Model.Username !</h1>
        <p class="lead">You have been successfully signed into your account.</p>
    </div>

}
