@model IEnumerable<ManagementSystem.Data.Review>
@{
    ViewBag.Title = "Welcomepage";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <h1>Dashboard</h1>
  <div id="hello">
    <div id="chartContainer1" style="height: 360px; width: 48%; color:aliceblue;"></div>
      <div style="height: 360px; width: 4%;"></div>
    <div id="chartContainer3" style="height: 360px; width: 48%;"></div>
      <div style="height: 40px; width: 100%;"></div>
      <div id="chartContainer2" style="height: 360px; width: 100%;"></div>
    </div>
    <style>
    #hello div {
    float: left;
    clear: none;
    }


    </style>
@section scripts
{
    <script>


        //---- data pints for chart 3

        var result = @Html.Raw(ViewBag.DataPoints);
	        var dataPoints =[];
	        for(var i = 0; i < result.length; i++){
                dataPoints.push({ label: result[i].Date, y: result[i].ReviewWeight});
	        }

                   window.onload = function () {
                        //-------- Chart 1 ---------------
                        var chart1 = new CanvasJS.Chart("chartContainer1", {
                title: {
                            text: "Current rating"
                },
                animationEnabled: true,
                legend: {
                            verticalAlign: "center",
                    horizontalAlign: "left",
                    fontSize: 20,
                    fontFamily: "Helvetica"
                },
                theme: "theme2",
                data: [
                                 {
                            type: "pie",
                        indexLabelFontFamily: "Garamond",
                        indexLabelFontSize: 20,
                        indexLabel: "{label} {y}%",
                        startAngle: -20,
                        showInLegend: true,
                        toolTipContent: "{legendText} {y}%",
                        dataPoints: [
                            { y: @ViewBag.employeeRating, legendText: "Rating", label: "Rating" },
                            { y: (100-@ViewBag.employeeRating), legendText: "Left in 100%" },

                        ]
                    }
                ]
            });
                    chart1.render();

                    //-------- Chart 2 ---------------
                    var chart2 = new CanvasJS.Chart("chartContainer2", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                        text: "Employee Overview"
                },
                data: [
                    {
                        type: "column",
                        dataPoints: [
                            { y: 19, label: "Employees" },
                            { y: 4, label: "Managers" },
                            { y: 2, label: "Human Resourses" },
                            { y: 5, label: "IT Department" },
                            { y: 2, label: "Business Department" },
                            { y: 3, label: "Marketing Department" },
                            { y: 4, label: "Computer Science Department" },
                            { y: 3, label: "Engineering Department" },
                        ]
                    }
                ]
            });

            chart2.render();

           //----chart 3-------

            var chart3 = new CanvasJS.Chart("chartContainer3", {
                theme: "theme2",
                animationEnabled: true,
                title: {
                    text: "Rating by review",
                    fontSize: 25
                },
                axisX: {
                    valueFormatString: "MMM",
                    interval: 1,
                    intervalType: "month"

                },
                axisY: {
                    title: "Rating"
                },

                data: [
                    {
                        type: "area",
                        dataPoints: dataPoints,
                    }
                ]
            });

            chart3.render();
                       $(".canvasjs-chart-credit").remove();
            };
    </script>
    }
</body>
</html>	